
<div class="split">
    <div class="logo">
        <img src="assets/logo-thryve.png" width="120px"  alt="Thryve Disseminate">
    </div>
    <div class="center">
      <mat-form-field class="search">
        <!-- <mat-label>Component Search</mat-label> -->
        <input matInput type="search" placeholder="Explore more on components, type to begin your search.." class="search-input">
          
      </mat-form-field>
    </div>
      
    <div class="logo">
      <p>Neha</p>
      <i class="fa-solid fa-text"></i>
    </div>
</div>

<mat-tab-group>
  <mat-tab label="Frontend"> 
    <div class="base-content">
      <app-side-nav (valueChange)='selectedTab($event)'></app-side-nav>
      <app-info-content [activeTab]="activeTab"></app-info-content>
    </div>
  Content 1 </mat-tab>
  <mat-tab label="Backend"> Backend </mat-tab>
  <mat-tab label="AEM"> AEM </mat-tab>
</mat-tab-group>

